<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body background="../static/img/kapal1.jpg" style="background-color: aqua; font-family: 'Courier New', Courier, monospace;">
    <center>
    <p style="color: white;"><font size=10>WELCOME TO THE GAME OF TITANIC</font></p>
    <a href="http://127.0.0.1:6060/visual">
        <button style="width: 100px;height: 50px;background-color: blue;color: white;font-family: sans-serif;" type="button" ><b>Data</b></button></form>
    </a>
    <br>
    <br>
    <p style="color:white;"><font size=5>Check Your Fate if You are in Titanic Ship :</font></p>
    <a href="http://127.0.0.1:6060/predict">
        <button style="width: 100px;height: 50px;background-color: blue;color: white;font-family: sans-serif;" type="button" ><b>Predict</b></button>
    </a>
    </center>
</body>
</html>