<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualization</title>
</head>
<body style="background-color: aquamarine;"><center>
    <p style="font-family: fantasy;"><font size="10"> DATA CHART</font></p>
    <br>
    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';"><font size="5"><u>Probability</u></font></p>
    <img src="../static/img/proba.jpg">
    <br>
    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><font size="5"><u>Count Data</u></font></p>
    <img src="../static/img/count.jpg">
    <br>
    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><font size="5"><u>Count Data ( Not Survived )</u></font></p>
    <img src="../static/img/count0.jpg">
    <br>
    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><font size="5"><u>Count Data ( Survived )</u></font></p>
    <img src="../static/img/count1.jpg">
    <br>
    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><font size="5"><u>Survive by Age</u></font></p>
    <img src="../static/img/countsurv.jpg">
    <br>
    <a href="http://127.0.0.1:6060/">
        <button style="width: 100px;height: 50px;background-color:pink;color:black;" type="button" ><b>Back to Home</b></button></form>
    </a>
</center></body>
</html>